div {
	border: 1px solid red;
}

html {
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.headersection {
	background-color: #931F25;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0px;
	height: 150px;
}

.headerlogo {
	margin: auto auto auto 20px;
}

.headerimage {
	margin: auto 20px auto auto;
}

.navtop {
	margin: 0px;
	background-color: #131313;
	text-transform: uppercase;
	font-weight: bold;
}

.navtop ul {
	list-style-type: none;
	display: flex;
	margin: 0px;
	padding: 0px;

}

.navtop li a {
	padding: 10px 10px;
	text-decoration: none;
	color: white;
	display: block;
	
}

.navbottom {
	text-transform: uppercase;
}

.navbottom ul {
	list-style-type: none;
	padding: 10px 10px;
	display: flex;
}

.navbottom li a {
	text-decoration: none;
	color: white;
	display: block;
	padding-right: 10px;
}


.date {
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	padding: 0px;
}

.newssection, .popularsection {
	background-color: #DEDEDE;
	font-weight: bold;
	color: #888888;
}

.newssection {
	padding: 5px;
	margin-bottom: 15px;
	/* margin-top: 20px; */
}

.imagecontainer1 {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.imagebox {
	width: 350px;
/* 	height: 400px; */
}

.bannersection {
	display: flex;
	flex-direction: column;
	width: 10%;
}

.popularsection {
	padding: 5px;
	margin-bottom: 15px;
}




.imagecontainer1 img {
	width: 100%;
}


.developersection {
	display: flex;
}

.developersection a {
	margin: 0 auto;
	padding-top: 25px;
	/* width: 95%; */
}

footer {
	background-color: #0F0F0F;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	height: 300px;
	font-weight: bold;
}

.footerimage {
	margin: auto 20px auto auto;
}

.footertext {
	color: white;
	text-align: center;
}



