div {
	border: 1px solid red;
}

html, body {
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0px;
}
.main-section {
	width: 90%;
	margin: 0 auto;
}

#header-section {
	background-color: #931F25;
	display: flex;
	flex-direction: row;
	height: 150px;
}

.header-logo {
	margin: auto auto auto 20px;
}

.header-image {
	margin: auto 20px auto auto;
}

.nav-top {
	/* margin: 0px; */
	background-color: #131313;
	text-transform: uppercase;
	font-weight: bold;
	height: 100%;
	/* overflow: hidden; */
}

.nav-top ul {
	list-style-type: none;
	display: flex;

}

.nav-top li a {
	text-decoration: none;
	color: white;
	display: block;
	padding-right: 10px;
	
}

.nav-bottom {
	text-transform: uppercase;
}

.nav-bottom ul {
	list-style-type: none;
	display: flex;
}

.nav-bottom li a {
	text-decoration: none;
	color: white;
	display: block;
	padding-right: 10px;
}


.date {
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

.popular-section, .news-section {
	background-color: #DEDEDE;
	font-weight: bold;
	/* padding: 5px; */
	font-size: 1.5em;
	padding-left: 15px;
}

.popular-section {
	margin:  15px 0 15px 0
}

.image-container-top  {
	display: flex;
}

.image-container-bottom {
	display: flex;
}

.first-image-row-top {
	display: flex;
	justify-content: space-between;
}

.second-image-row-top {
	display: flex;
	justify-content: space-between
}

.first-image-row-bottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.second-image-row-bottom {
	display: flex;
	justify-content: space-between;
}

.imagebox-top {
	width: 30%;
}

.imagebox-top img {
	width: 100%;
	height: 300px ;
}

.imagebox-bottom {
	width: 48%;
}

.imagebox-bottom img {
	width: 100%;
	height: 400px;
}

.side-banner-top {
	text-align: right;
}

.side-banner-top img {
	height: 100%;
	width: auto;
}

.side-banner-bottom {
	text-align: right;
}

.side-banner-bottom img {
	height: 100%;
	width: auto;
}


.developer-banner-section {
	display: flex;
	justify-content: center;
	margin: 15px auto 15px auto;
	width: 85%;
	height: 115px;

}

.developer-banner-section img {
	width: 100%;
	height: auto;
	text-align: center;
}

footer {
	background-color: #0F0F0F;
	display: flex;
	flex-direction: column;
	margin-top: 55px;
	/* height: 300px; */
	font-weight: bold;
}

.footer-image {
	margin: 0 0 50px auto;
	width: 15%;
}

.footer-image img {
	/* width: 100%; */
}

.footer-text {
	color: white;
	text-align: center;
	/* margin-top: 10px; */
}

.footer-text p {
	margin-top: 5px auto 5px auto;
}

.imagebox-top {
	background-color: black;
	color: white;
}

.imagebox-top figcaption {
	height: 150px;
	text-align: center;
}

.imagebox-top figcaption p {
	margin-top: 15px;
}





/* Media Queries */






