
/* html {
	width: 1300px;
	margin: 0px auto;
} */
body {
	font-family: 'Roboto Condensed', sans-serif;
}

.headersection {
	background-color: #931F25;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0px;
	height: 150px;
}

.headerlogo {
	margin: auto auto auto 20px;
}

.headerimage {
	margin: auto 20px auto auto;
}

.navtop {
	margin: 0px;
	background-color: #131313;
	text-transform: uppercase;
}

.navtop ul {
	list-style-type: none;
	display: flex;
	margin: 0px;
	padding: 0px;

}

.navtop li a {
	padding: 10px 10px;
	text-decoration: none;
	color: white;
	display: block;
	
}

.navbottom {
	text-transform: uppercase;
}

.navbottom ul {
	list-style-type: none;
	padding: 10px 10px;
	display: flex;
}

.navbottom li a {
	text-decoration: none;
	color: white;
	display: block;
	padding-right: 10px;
}


.date {
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	padding: 0px;
}

.newssection, .popularsection {
	background-color: #DEDEDE;
	font-weight: bold;
	color: #888888;
}

.newssection {
	padding: 5px;
	margin-bottom: 15px;
	/* margin-top: 20px; */
}

.popularsection {
	padding: 5px;
	margin-bottom: 15px;
}
/* .imagecontainer1 {
	display: flex;
} */

.firstrow1 {
	display: flex;
	justify-content: space-between; /* adds space evenely between the pictures */
	/* width: 100%; */
}

.imagewrapper {
	display: flex;
}

.imagecontainer1 {
	flex: 9;
	margin: 0px 15px 0px 0px;
}

.imagecontainer2 {
	flex: 9;
	margin: 0px 15px 0px 0px;
}


.bannersection{
	flex: 1;
}

.bannersection2 {
	flex: 1;
}


.bannersection img {
height: 100%;
width: 100%;

}

.bannersection2 img {
	height: 100%;
	width: auto;
}

.developersection {
	display: flex;
}

.developersection a {
	margin: 0 auto;
	padding-top: 25px;
	/* width: 95%; */
}


.imagewrapper2 {
	display: flex;
	margin-top: 25px;
	width: 100%;
}

.firstrow2 {
	display: flex;
	justify-content: space-between;
}

.firstrow1 div figcaption {
	background-color: #131313;
	color: white;
	padding: 50px;
	position: relative;
	margin: -5% 0 0 0;
}

.firstrow2 div figcaption {
	background-color: #131313;
	color: white;
	padding: 50px;
	position: relative;
	margin: -15% 0 0 0;
}

.secondrow {
	margin-top: 50px;
}

.mainsection {
	/* width: 90%; */
	margin: 0 auto;
}

 







footer {
	background-color: #0F0F0F;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	height: 300px;
}

.footerimage {
	margin: auto 20px auto auto;
}

.footertext {
	color: white;
	text-align: center;
}



