/* .imgcontainer {
	position: relative;
} */

/* .imagecontainer img:headerlogo {
left: 0;
}

.imagecontainer img:headerimage {
right: 0;
} */

/* .headerlogo {
	float: left; 
} */

/* html {
	width: 1300px;
	margin: 0px auto;
} */

.headersection {
	background-color: #931F25;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0px;
	height: 150px;
}

.headerlogo {
	margin: auto auto auto 20px;
}

.headerimage {
	margin: auto 20px auto auto;
}

.navtop {
	margin: 0px;
	background-color: #131313;
}

.navtop ul {
	list-style-type: none;
	display: flex;
	margin: 0px;
	padding: 0px;

}

.navtop li a {
	padding: 10px 10px;
	text-decoration: none;
	color: white;
	display: block;
	
}

.navbottom ul {
	list-style-type: none;
	padding: 10px 10px;
	display: flex;
}

.navbottom li {
	float: left;
}

.navbottom li a {
	text-decoration: none;
	color: white;
	display: block;
	padding-right: 10px;
}


.date {
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	padding: 0px;
}

.newssection, .popularsection {
	background-color: #DEDEDE;
}

.firstrow {
	display: flex;
	justify-content: space-between;
}

.imagecontainer1 {
	justify-content: space-between;
	
}

.bannerright {
	flex: 1;
}







footer {
	background-color: #0F0F0F;
}

footer p {
	color: white;
	text-align: center;
}

footer img {
	float: right;
}


